@import 'mixins';
@import 'colors';

html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    font-size: 2.3vmin;
    box-sizing: border-box;
}
.container {
    height: 100%;
    min-width: 90%;
    background-color: $background-main;
    box-sizing: border-box;
}

.topBar {
    display: flex;
    height: 10%;
    min-height: 100px;
    width: 100%;
    box-sizing: border-box;
    border: 2px solid black;
    font-size: 2.3em;
    padding: 0 5%;
    .logo {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
    }
    .nav {
        width: 50%;
        height: 100%;
        font-size: smaller;
        display: flex;
        justify-content: flex-end;
        font-size: .7em;
        padding-top: 2%;
        a {
            padding-left: 3%;
            color: black;
        }    
    }
    
}
.content {
    @include fill;
    display: flex;
    box-sizing: border-box;
}
.left {
    width: 25%;
    height: 100%;
    border-left: 2px solid black;
    .add {
        display: flex;
        justify-content: space-around;
        border-right: 2px solid rgb(246, 246, 255);
    }
    .listlist {
        display: flex;
        flex-direction: column;
        @include fill;
        .list-item {
            width: 100%;
            padding: 7%;
            min-height: 12%;
            border-right: 2px solid rgb(246, 246, 255);
            border-top: 1px solid rgb(154, 154, 154);
            color:rgb(154, 154, 154);
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 1.9em;
            box-sizing: border-box;
            background-color: rgb(246, 246, 255);
            .title-item {
                padding: 0 5%;
                max-width: 80%;
                overflow-wrap: break-word;
            }
            
            .edit-icon {
                width: 25%;
                height: 100%;
                display: flex;
                align-items: flex-start;
                justify-content: flex-end;
                padding:10% 0 10% 0;
                .fa {
                    font-size: .5em;
                    padding:2% 1% 10% 10%;
                }
             }

        }
    }
}
.right {
    width: 75%;
    height: 100%;
    border-right: 2px solid black;
    background-color: white;
    .list-title {
        padding: 4%;
        display: flex;
        align-items: center;
        font-size:1.9em;
        color: grey;
    }
    .to-do-space {
        display: flex;
        flex-direction: column;
        @include fill;
        padding: 0 10%;
        box-sizing: border-box;
        .to-do-item {
            width: 100%;
            display: flex;
            align-items: center;
            font-size: 1.7em;
            padding: 1% 0;
            input {
                width: 6%;
            }
            div {
                width: 90%;
            }
            i {
                width: 4%;
                font-size: .6em;
                align-self: center;
                padding: 1%;
            }
        }
        .add-to-do-item {
            box-sizing: border-box;
            display: flex;
            align-items: center;
            font-size: 1.4em;
            i {
                padding: 5%;
            }
        }
    }
}
.add {
    padding: 8%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size:1.9em;
}

form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: space-between;
    #text-input {
        height: 100%;
        width: 100%;
        border: none;
        font-size:1.7em;
        box-sizing: border-box;
        border: 2px solid black;
        
    }
    #text-button {
        border: none;
        min-width: 10%;
        background-color: rgb(183, 183, 255);
        align-self: flex-end;
        padding: 1.5%;
        font-size: 1.2em;
    }
}
#list-add-button, #list-edit-button {
    border: none;
    background-color: white;
    background-color: rgb(183, 183, 255);
    box-sizing: border-box;
    padding: 4.5%;
    align-self: flex-end;
    font-size: 1.2em;
}
#list-text-area  {
        width: 100%;      
        border: none;
        font-size:1.8em;
        box-sizing: border-box;
        border-right: 2px solid black;
        border-bottom: 2px solid black;
}
.list-input {
    width: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    
}
#reveal-button {
    display: none;
}
#reveal-button-2 {
    display: none;
}
.edit-list {
    width: 100%;
    box-sizing: border-box;
}
.checked-task {
    text-decoration: line-through;
    color: gray;
}
.clear-complete {
    display: flex;
    margin: 20% 10% 10% 50%;
    width: 10vw;
    box-sizing: border-box;
    
}
#clear-complete-button {
    border: none;
    background-color: white;
    background-color: rgb(183, 183, 255);
    box-sizing: border-box;
    padding:6.1%;
    font-size: 1.2em;
   
}